@import "bootstrap/bootstrap";

//無腦鎮壓btn-primary .btn-light顏色
.btn-primary{
    color:$white;
}
.btn-light{
    color:$dark;
}
.navbar-light .navbar-nav .nav-link{
    color: $dark;
}

//log size
.logo{
    height: 31px;
}